<ion-tabs>
  <ion-fab center bottom>
    <button ion-fab color="danger" (press)="callSOS()"><ion-icon name="ios-notifications-outline"></ion-icon></button>
  </ion-fab>
  <ion-tab [root]="tab1Root" [tabTitle]="tab1Title" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab2Root" [enabled]="false"></ion-tab>
  <ion-tab [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="timer"></ion-tab>
  <ion-tab [root]="tab4Root" [tabTitle]="tab4Title" tabIcon="contact"></ion-tab>
</ion-tabs>
