
<ion-content padding>
  <div class="appForm">
    <p>Reset Your Password</p>
    <ion-list>
      <ion-item>
        <ion-icon item-left name="md-mail"></ion-icon>
        <ion-input type="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block color="color1" (click)="dismiss('Y')">Send</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block color="color2" (click)="dismiss('N')">Cancel</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
