<ion-content padding>
  <div class="appForm">
    <ion-list>
      <div class="profileContainer" (click)="takePicture()">
        <div class="imgBg" [ngStyle]="{'background-image':'url(' + base64Image + ')'}">
          <ion-icon name="ios-camera"></ion-icon>
        </div>
      </div>
      <ion-item>
        <ion-icon item-left name="ios-people"></ion-icon>
        <ion-input type="text" [value]="formUser.name" placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="ios-call"></ion-icon>
        <ion-input type="num" [(ngModel)]="formUser.mobileNo" placeholder="Phone Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="md-mail"></ion-icon>
        <ion-input type="email" disabled placeholder="Email" [(ngModel)]="formUser.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="ios-pin"></ion-icon>
        <ion-input type="text" placeholder="Address" [(ngModel)]="formUser.address"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block color="color1" (click)="dismiss('Y')">Submit</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block color="color2" (click)="dismiss('N')">Cancel</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
