<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="contactForm">
    <ion-list>
      <ion-item>
        <div class="profileContainer">
          <div class="imgBg" [ngStyle]="{'background-image':'url(' + base64Image + ')'}">
          </div>
        </div>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="ios-people"></ion-icon>
        <ion-label>{{user.name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="ios-call"></ion-icon>
        <ion-label>{{user.mobileNo}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="md-mail"></ion-icon>
        <ion-label>{{user.email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="ios-pin"></ion-icon>
        <ion-label>{{user.address}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block color="color1" (click)="presentModal('EditProfilePage')">Edit</button>
        </ion-col>
        <ion-col>
          <button ion-button block color="color1" (click)="addNewProperty('AddNewPropertyPage')">Add Property</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button block color="danger" (click)="doLogout()">Sign Out</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
