page-profile {

  .content-ios{
    .scroll-content{
      padding:3px!important;
    }
  }

  .contactForm{
    @extend .appForm;
    padding:$mainMarg;
    margin-top: 20px;
    background-color: color($colors,color3);
    border-radius: 10px;
    .list-ios{
      .item-ios{
        &.item-block{
          background:none;
          padding:0px;
          .icon{
            &[item-left]{
              @include borderRadius(34px);
              box-shadow: inset 18px 18px 52px 18px rgba(0,0,0,0.1);
            }
            &[item-right]{
              margin:0px $mainMarg/2;
              @include centerHeight(34px);
              color:color($colors,color1);
            }
          }
          .text-input{
            background-color:color($colors,light);
            padding:0px $mainMarg/2;
            border-radius:$appFormRadius;
            &[disabled]{
              opacity:1;
              background:none;
            }
          }
          img{
            &[item-start]{
              margin:0px 0px 0px $mainMarg  ;
              width:30px;
            }
          }
        }
      }
    }

  }
}

