page-facility-booking {
  .date-display{
    font-size: 2.5em;
  }
  .day-display{
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
  }
  .month-display{
    text-align: right;
    font-size: 1.1em
  }
  .grid {
    padding: 0px;
    .col {
      padding: $mainMarg/2;
      ion-icon {
        font-size: 4rem;
        color: color($colors, color2);
        display: block;
        max-width: $mainHeight;
        width: 100%;
      }
    }
    .row {
      img {
        height: 20vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50vh;
      }
    }
  }
  .jobContainer {
    position: relative;
    margin-bottom: 15px;
    h3 {
      //@include whiteNoWrap(30px);
      color: color($colors, color1);
      font-weight: 500;
      white-space: nowrap;
      height: 30px;
      font-size: 13px !important;
      margin: 0px 0px 0px 3vh;
      padding-top: 3vh;
    }
    > p {
      &.someDetails {
        max-height: 40vh;
        word-break: normal;
        text-align: justify;
      }
    }
  }
}
thead {
  tr {
    background-color: color($colors, color1);
    color: color($colors, light);
  }
}
.monthview-selected{
  background-color: color($colors, color2) !important;
  border-radius: 50%;
}

.img-profile{
  border-radius: 50%;
  width: 30vw;
  height: 5vh;
}

.slides-facility {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 10px;
  height: 30vh;
}

.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: x-large;
  font-weight: bolder;
}

.calendar{
  max-width: 100%;
}

.swiper-button-prev{
  background-color: transparent;
  background-image: url("../assets/img/left-arrow.svg");
}

.swiper-button-next{
  background-color: transparent;
  background-image: url("../assets/img/right-arrow.svg");
}

/*.noPostedJobs{
  text-align:center;
  .icon{
    font-size: 15rem;
    color:color($colors,color1);
  }
  p{
    margin:0px;
    @include whiteNormal(40px,2);
    font-size:2rem!important;
    color:color($colors,color2);
    font-weight:bold;
  }
}*/
