<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only>
        <img src="{{profilePic}}" class="img-profile">
      </button>
    </ion-buttons>
    <ion-title>Facility Booking</ion-title>
    <ion-buttons right>
      <button ion-button icon-only><img alt="logo" height="40" src="assets/img/logoWhite.png" ></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-slides #facility *ngIf="this.facilities.length>0" class="slides-facility" (ionSlideDidChange)="facilityChanged()" [pager]="true" [centeredSlides]>
    <ion-slide *ngFor="let item of facilities">
      <img src="{{item.picture}}">
      <div class="centered">{{item.name}}</div>
      <span hidden id="facilityId">{{item.id}}</span>
      <button ion-button class="swiper-button-prev" (click)="this.facilitySlide.slidePrev()"></button>
      <button ion-button class="swiper-button-next" (click)="this.facilitySlide.slideNext()"></button>
    </ion-slide>
  </ion-slides>
  <div class="noPostedJobs" *ngIf="this.facilities.length<=0" padding >
    <p>No Facility</p>
  </div>
  <div class="jobContainer" *ngIf="this.facilities.length>0">
    <ion-grid>
      <ion-row>
        <ion-col class="date-display">
          {{displayDate}}
        </ion-col>
        <ion-col >
          <ion-row>
            <ion-col class="day-display">{{displayDay}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="month-display">{{viewTitle}}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <calendar [eventSource]="eventSource"
                  [calendarMode]="calendar.mode"
                  [currentDate]="calendar.currentDate"
                  (onTitleChanged)="onViewTitleChanged($event)"
                  (onTimeSelected)="onTimeSelected($event)"
                  [showEventDetail]="calendar.showEvent"
                   queryMode='remote'
                  (onRangeChanged)="getNewData($event)"
                  class="calendar">
        </calendar>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab right bottom *ngIf="this.facilities.length>0">
    <button icon-only ion-fab mini (click)="addBooking()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
