<ion-content padding>
  <div class="appForm">
    <ion-list>
      <ion-list-header>
        List Property
      </ion-list-header>
      <ion-item *ngFor="let prop of properties">
        <ion-checkbox (ionChange)="getCheckBox(prop.id, $event)"></ion-checkbox>
        <ion-label>{{prop.name}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block color="color1" (click)="save()">Save</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block color="color2" (click)="dismiss()">Cancel</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
