page-list-property {
  .content {
    background:rgba(color($colors,color1),.75);
    .scroll-content{
      overflow:hidden;
      display:flex;
      align-items:center;
    }

    .appForm{
      width:90%;
      padding:$mainMarg*2 ;
      background-color: color($colors,color4);
      margin:auto;
      border-radius:$appFormRadius;
      p{
        margin:0px 0px $mainMarg;
        font-size:$mainFont!important;
        font-weight:500;
        color:color($colors,color2);
        @include whiteNormal(30px,2);
      }
      .list-ios{
        .item-ios{
          &.item-block{
            background-color: transparent;
            padding: 10px 4px;
          }
        }
      }

    }
    .grid{
      padding:0px;
      margin-top:$mainMarg;
      .col{
        padding:0px;
      }
    }
  }
}
