<ion-content padding>
  <div class="appForm">
    <ion-list radio-group>
      <ion-item *ngFor="let prop of properties">
        <ion-label>{{prop.name}}</ion-label>
        <ion-radio value={{prop.id}} [checked]="prop.id==propertySelected" (ionSelect)="onChangeProperty(prop)"></ion-radio>
      </ion-item>
      <!--<button ion-item detail-none *ngFor="let prop of properties" (click)="dismiss(prop)">{{prop.name}}</button>-->
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button block color="color1" (click)="dismiss('Y')">Ok</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block color="color2" (click)="dismiss('N')">Cancel</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>

