// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #ef1d38,
  light:      #fff,
  dark:       #222,
  color2:     #4EC2BE,
  color1a:     #c14835,
  color1:     #161D46,
  color2a:     #3e3d3d,
  color3:       #9c9c9c,
  color4:      #eaeaea,
  faceColor:  #4463b1,
  twitterColor:#4e9edc,
);

// App  Variables
$mainFont:1.5rem;
$appFonts:(h3:$mainFont + .3,h4:$mainFont + .1,h5:$mainFont,p:$mainFont - .1);
@each $head , $fontSize in $appFonts {
  #{$head}{
    font-size:$fontSize!important;
  }
}

$mainHeight:45px;
$mainRadius:0px;
$mainMarg:8px;
$mainBorderRadius:30px;

// header Variables
$toolbar-ios-height:$mainHeight;
$toolbar-ios-button-font-size:1rem;
$toolbar-ios-title-font-size:$mainFont;
$toolbar-ios-title-font-weight:600;
$toolBarBackGround:color($colors,color1);
$toolbar-ios-title-text-color:color($colors,light);
$navBarPadding:$mainMarg/2;
$headerIconSize:2.2rem;
$headerIconColor:color($colors,light);
// AppForm Variables
$appFormItemHeight:$mainHeight;
$inputFontSize:$mainFont - .1;
$inputPlaceHolderColor:color($colors,color3) ;
$selcetTextColor:color($colors,color2) ;

$inputTextColor:color($colors,color2);

$iconFontSize:2rem;
$iconInputColor:color($colors,color1) ;
$appFormRadius:7px;

//main Button Variables
$button-ios-height:$mainHeight;
$button-ios-border-radius:$mainHeight/2;
$button-ios-font-size:$mainFont;

// Side Menu Variables
$menu-width:300px;
$menu-small-width:$menu-width;
$menuHeaderHeight:100px;
$menuImgProfileSize:$menu-width/3;
$menuIconSize:2.2rem;
$menuItemHeight:$mainHeight;
$itemFontsize:$mainFont + .1;

// checkbox in My Profile Page
$checkbox-ios-background-color-off:color($colors,light);
$checkbox-ios-background-color-on:$checkbox-ios-background-color-off;
$checkbox-ios-icon-border-color-off:color($colors,color2);
$checkbox-ios-icon-border-color-on:$checkbox-ios-icon-border-color-off;
$checkbox-ios-icon-border-radius:$mainRadius;
$checkbox-ios-disabled-opacity:1;
$checkbox-ios-icon-size:16px;
$checkbox-ios-icon-checkmark-width:2px;
$checkbox-ios-icon-checkmark-color:color($colors,color1);

//Radio buttons Variables
$radio-ios-icon-width:$checkbox-ios-icon-size;
$radio-ios-icon-height:$radio-ios-icon-width;
$radio-inner-width:$radio-ios-icon-width - 6px;
$radio-inner-color:$checkbox-ios-icon-checkmark-color;
$radio-ios-background-color-off:$checkbox-ios-background-color-off;

//fab button
$fab-size:65px;
$fab-mini-size:55px;

// Avatar Variables
$avatar-imag-size:65px;

//card Variables
$card-ios-border-radius:10px;

//select variables
$select-ios-icon-color:#999;

// App Material Design Variables

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
