<ion-menu [content]="content" swipeEnabled="true" id="otherMenu">
  <ion-header>
    <ion-navbar>
      <ion-title>Home</ion-title>
    </ion-navbar>
    <ion-toolbar>
      <div class="profileContainer">
        <div class="imgBg" [ngStyle]="{'background-image':'url(assets/img/people.png)'}">
          <ion-icon name="ios-camera" ></ion-icon>
        </div>
        <h5>Jhon Doe</h5>
        <p>Jakarta</p>
        <ion-icon name="md-create" menuClose></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages">
        <ion-icon [name]="p.icon" item-left style="color:white"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
