page-welcome {
  .passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
  }
  .content{
    p{
      @extend h4;
      color: color($colors,color1);
      margin:0px;
      @include whiteNormal(50px,1);
      font-size:1.1rem!important;
      font-weight: bold;
    }
    @extend .imgBg;
    .scroll-content{
      padding:20px ;
    }
    .logo{
      background-color: color($colors,color1);
      height: 40vh;
      text-align: center;
      margin-bottom: 15px;
      max-width: 100%;
      h3{
        @include whiteNormal(20px,1);
        color:color($colors,color4);
        font-size:2.6rem!important;
      }
      p{
        margin: 0px;
        @include whiteNormal(18px,1);
        color:color($colors,color4);
      }
    }
    .groubBtns{
      padding:$mainMarg;
      background:rgba( color($colors,color4),.45);
      .button{
        background-color: color($colors,color4);
        .button-inner{
          color: color($colors,color2);
          font-weight:bold;
        }
        &:first-of-type{
          margin-bottom:$mainMarg;
        }
        .icon{
          display:inline-block;
          line-height:$mainHeight - 2px;
          margin: 0px $mainMarg/2;
          font-size:2.2rem;
          color:color($colors,color1);
        }
      }
    }
    %orStyle{
      content:'';
      height:1px;
      background-color:color($colors,color1);
      position:absolute;
      top:15px;
      width:calc(50% - 20px);
    }
    .or{
      position:relative;
      margin:$mainMarg 0px;
      text-align:center;
      span{
        color:color($colors,light);
        @include borderRadius(30px);
        background-color:color($colors,color1);
        margin:0px 5px;
      }
      &::after{
        right:0px;
        @extend %orStyle;
      }
      &::before{
        left:0px;
        @extend %orStyle;
      }
    }
    .socialMedia{
      text-align:center;
      .icon{
        @include borderRadius($mainBorderRadius);
        //background-color:color($colors,color4);
        color:color($colors,color1);
        font-size:3rem;
        margin:$mainMarg;
      }
    }
  }
}

