<ion-content scroll="false">
  <div class="logo">
    <img style="max-height: 100%" src="assets/img/logoTextWhite.png"/>
  </div>
  <div class="appForm">
    <ion-list>
      <ion-item>
        <ion-icon item-left name="md-mail"></ion-icon>
        <ion-input type="email" placeholder="Email" [(ngModel)]="account.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="md-lock"></ion-icon>
        <ion-input [type]="passwordType" placeholder="Password" [(ngModel)]="account.password"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
    </ion-list>
    <p text-right (click)=" presentModal('ForgotPasswordPage')">Forget Password ?</p>
  </div>
  <button ion-button block color="color1" (click)="loginEmail()">Login</button>
  <div class="or">
    <span>OR</span>
  </div>
  <div class="socialMedia">
    <button ion-button clear (click)="loginWithFacebook()"><ion-icon [ngStyle]="{'color': fbColor}" name="logo-facebook"></ion-icon></button>
    <button ion-button clear (click)="doLoginWithTwitter()"><ion-icon [ngStyle]="{'color': twColor}" name="logo-twitter"></ion-icon></button>
    <button ion-button clear (click)="loginWithGoogle()"><ion-icon [ngStyle]="{'color': gColor}" name="logo-google"></ion-icon></button>
  </div>
</ion-content>

