<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only>
        <img src="{{profilePic}}" class="img-profile">
      </button>
    </ion-buttons>
    <ion-title>
      <button *ngIf="showDrop==true" ion-button icon-right (click)="presentModal('ListPropertyPage')" style="background-color: transparent" >
        {{pageTitle}}
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
      <span *ngIf="showDrop==false">{{pageTitle}}</span>
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only><img alt="logo" height="40" src="assets/img/logoWhite.png" ></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div ion-fixed class="header-slide" *ngIf="showAnnouncement==true">
    <ion-slides style="height: auto" [pager]="true" [centeredSlides] [parallax] autoplay="500" loop="true" speed="3000">
      <ion-slide *ngFor="let slide of announcementItems">
        <img src="{{slide.imageUrl}}">
      </ion-slide>
    </ion-slides>
  </div>
  <div class="bgContainer">
    <label>&nbsp;</label>
    <div class="jobContainer" *ngFor="let item of cardItems">
      <ion-grid (click)="detailNews(item)">
        <ion-row style="height: 36px">
          <ion-col col-1 style="padding: 3px">
            <ion-icon class="icon-news" name="{{item.category}}" ></ion-icon>
          </ion-col>
          <ion-col col-8>
            <h3>{{item.title}}</h3>
          </ion-col>
        </ion-row>
        <ion-row >
          <img *ngIf="item.imageUrl!=null" src="{{item.imageUrl}}">
        </ion-row>
      </ion-grid>
      <h4 style="margin-left: 5px;margin-bottom: 0px">{{item.subtitle}}</h4>
      <p class="date-content">{{item.createdDate}} at {{item.createdTime}}</p>
      <p class="someDetails">{{item.summary}}</p>
    </div>
    <div class="noPostedJobs" *ngIf="noNews == true" padding >
      <p>No News</p>
    </div>
    <div *ngIf="noNews == false" style="text-align: center;margin-bottom: 5vh">
      <button class="btnLoad" (click)="loadMoreNews()" ion-button>Load More...</button>
      <ion-spinner class="spinner-energized" *ngIf="showing"></ion-spinner>
    </div>
  </div>

</ion-content>
