page-content {
  ion-img {
    width: 100vw;
    height: 50vw;
  }
  .larger {
    font-size: 30px;
  }
  .header-slide{
    width: 100%;
    overflow: hidden;
    height: 20vh;
    background-color: white;
    padding-top: 2vh;
    padding-bottom: 20vh;
  }

  .btnLoad{
    background-color: transparent;
    span{
      color: color($colors,color1) !important;
    }
  }

  ion-card-content{
    margin: 0;
    display: block;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ion-slides {
    height: 100px;
  }

  .grid{
    padding:0px;
    .col{
      padding:0px;
      ion-icon{
        font-size:3rem;
        color: color($colors,color2);
        display:block;
        max-width:$mainHeight;
        width:100%;
      }
      .row {
        height: 15px;
        max-height: 20px;
        p{
          font-size: x-small !important;
        }
      }
    }
    .row{
      img{
        max-height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .jobContainer{
    position: relative;
    border-radius: 0px;
    margin: 1vh 10px 10px 10px;
    //background: lightgray;
    h3{
      color: color($colors,color1);
      font-weight:500;
      white-space: nowrap;
      height: 30px;
      margin: 0px 0px 0px 1.1vh !important;;
      padding-top: 1.1vh;
      font-size: 1.1em !important;
    }
    >p{
      margin: 0px 4px 0px 6px;
      font-size: 1.1rem !important;
      &.someDetails{
        max-height: 40vh;
        word-break: normal;
        text-align: justify;
      }
    }
  }

  .bgContainer{
    background-color: color($colors,color4);
    border-radius: 5px;
    margin: 1px;
    clear: both;
  }

  .date-content{
    font-size: smaller;
    font-style: italic;
    color: color($colors,dark);
    text-align: right;
  }
}
.title-image {
  margin-top: 10px;
  height: 30px;
}

.img-profile{
  border-radius: 50%;
  width: 30vw;
  height: 5vh;
}


