page-add-book-facility {
  .error-box {
    background-color: transparent !important;
    p{
      color: red !important;
    }
  }

  .content {
    background:rgba(color($colors,color1),.75);
    .scroll-content{
      overflow:auto;
      display:flex;
      align-items:center;
    }
    .appForm{
      width:98%;
      padding:$mainMarg*2 ;
      background-color: color($colors,color4);
      margin:auto;
      border-radius:$appFormRadius;
      p{
        margin:0px 0px $mainMarg;
        font-size:$mainFont!important;
        font-weight:500;
        color:color($colors,color2);
        @include whiteNormal(30px,2);
      }
      .list-ios{
        .item-ios{
          &.item-block{
            background-color: color($colors,light);
            padding: 1px 4px;
          }
        }
      }
    }

    .event-detail-container{
      margin-top: 5px;

      .item-ios {
        &.item-block {
          background-color: transparent !important;
        }
      }
    }

    .grid{
      padding:0px;
      margin-top:$mainMarg;
      .col{
        padding:0px;
      }
    }
  }
}


