<ion-content padding>
  <div class="appForm">
    <p>Book {{facility.name}}</p>
    <p>Date {{booking.selectedDate}}</p>
    <ion-list>
      <form [formGroup]="bookingForm">
        <ion-item>
          <ion-label>Start Time</ion-label>
          <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" formControlName="startTime" [hourValues]="hourValues" [minuteValues]="minuteValues"></ion-datetime>
        </ion-item>
        <ion-item class="error-box" *ngIf="bookingForm.controls.startTime.hasError('required') && bookingForm.controls.startTime.touched">
          <p>Sorry, field end time is required!</p>
        </ion-item>

        <ion-item>
          <ion-label>End Time</ion-label>
          <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" formControlName="endTime" [hourValues]="hourValues" [minuteValues]="minuteValues"></ion-datetime>
        </ion-item>
        <ion-item class="error-box" *ngIf="bookingForm.controls.endTime.hasError('required') && bookingForm.controls.endTime.touched">
          <p>Sorry, field end time is required!</p>
        </ion-item>

        <ion-item>
          <ion-input type="text" placeholder="Description" formControlName="description"></ion-input>
        </ion-item>
        <ion-item class="error-box" *ngIf="bookingForm.controls.description.hasError('required') && bookingForm.controls.description.touched">
          <p>Sorry, field description is required!</p>
        </ion-item>
      </form>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block color="color1" [disabled]="!bookingForm.valid" (click)="save()">Submit</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block color="color2" (click)="cancel()">Cancel</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr>
    <ion-list class="event-detail-container" has-bouncing="false" overflow-scroll="false">
      <p style="margin-top: 10px">Booking List</p>
      <ion-item *ngFor="let event of listBooking">
        <ion-grid>
          <ion-row>
            <ion-col col-7>
              <p>{{event.startTime|date: 'HH:mm'}} - {{event.endTime|date: 'HH:mm'}}</p>
            </ion-col>
            <ion-col col-5>
              <p>{{event.title}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item *ngIf="listBooking.length==0">
        <div class="no-events-label">No Booking on this Day</div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
