page-detail-news {
  .header-image {
    //background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
    height: 40vh;
    img{
      height: 40vh;
      width: 100vw;
    }
  }

  .main-content {
    padding: 20px;
    background-color: white;
    position:relative !important;
  }
  .date-content{
    font-size: smaller;
    font-style: italic;
    color: #8e9093;
    text-align: right;
  }
}
