<ion-header>

  <ion-navbar>
    <ion-title>Detail News</ion-title>
  </ion-navbar>

</ion-header>


<ion-content parallax-header *ngIf="content.imageUrl!=null">
  <div class="header-image"><img src="{{content.imageUrl}}"></div>
  <div class="main-content">
    <h2>{{content.title}}</h2>
    <p class="date-content">{{content.createdDate}} at {{content.createdTime}}</p>
    <p [innerHTML]=content.description></p>
  </div>
</ion-content>

<ion-content *ngIf="content.imageUrl==null">
  <div class="main-content">
    <h2>{{content.title}}</h2>
    <p class="date-content">{{content.createdDate}}</p>
    <p [innerHTML]=content.description></p>
  </div>

</ion-content>
