<ion-content padding>
  <div class="appForm">
    <p>Add New Visitor</p>
    <ion-list>
      <div class="profileContainer" *ngIf="isSecurity == false">
        <div class="imgBg" (click)="openGallery()" [ngStyle]="{'background-image':'url(' + base64Image + ')'}">
          <ion-icon name="ios-camera" ></ion-icon>
        </div>
      </div>
      <div *ngIf="isSecurity" class="profileContainer" (click)="takePicture()">
        <div class="imgBg" [ngStyle]="{'background-image':'url(' + base64Image + ')'}">
          <ion-icon name="ios-camera"></ion-icon>
        </div>
      </div>
      <form [formGroup]="visitorForm">
        <ion-item *ngIf="isSecurity == false">
          <ion-datetime displayFormat="DD MMM YYYY" formControlName="dateVisit" placeholder="Date Visit"></ion-datetime>
          <ion-icon name="md-arrow-dropdown" item-right></ion-icon>
        </ion-item>
        <ion-item class="error-box" *ngIf="isSecurity == false && visitorForm.controls.dateVisit.hasError('required') && visitorForm.controls.dateVisit.touched">
          <p>Sorry, field date is required!</p>
        </ion-item>
        <ion-item *ngIf="isSecurity == false">
          <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" formControlName="timeVisit" placeholder="Time Visit"></ion-datetime>
          <ion-icon name="md-arrow-dropdown" item-right></ion-icon>
        </ion-item>
        <ion-item class="error-box" *ngIf="isSecurity == false && visitorForm.controls.timeVisit.hasError('required') && visitorForm.controls.timeVisit.touched">
          <p>Sorry, field time is required!</p>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
        </ion-item>
        <ion-item  class="error-box" *ngIf="visitorForm.controls.name.hasError('required') && visitorForm.controls.name.touched">
          <p>Sorry, field name is required!</p>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Vehicle No" formControlName="vehicleNo"></ion-input>
        </ion-item>
        <!--<ion-item class="error-box" *ngIf="visitorForm.controls.vehicleNo.hasError('required') && visitorForm.controls.vehicleNo.touched">
          <p>Sorry, field Vehicle no is required!</p>
        </ion-item>-->
        <ion-item>
          <ion-input type="text" placeholder="Phone No" formControlName="phoneNo"></ion-input>
        </ion-item>
        <ion-item class="error-box" *ngIf="visitorForm.controls.phoneNo.hasError('required') && visitorForm.controls.phoneNo.touched">
          <p>Sorry, field Phone no is required!</p>
        </ion-item>
      </form>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block color="color1" [disabled]="!visitorForm.valid" (click)="dismiss('Y')">Submit</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block color="color2" (click)="dismiss('N')">Cancel</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
