<ion-header>
  <ion-navbar>
    <ion-title>Registration</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="appForm">
    <ion-list>
      <ion-item>
        <ion-input type="text" [(ngModel)]="account.name" name="name" placeholder="Full Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="account.nric" name="nric" placeholder="NRIC"></ion-input>
      </ion-item>
      <ion-item>
        <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="account.dob" name="dob" placeholder="Date of Birth"></ion-datetime>
        <ion-icon name="md-arrow-dropdown" item-right></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input type="email" [(ngModel)]="account.email" name="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="account.mobileNo" name="mobileNo" placeholder="Contact Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select [(ngModel)]="account.gender">
          <ion-option value="f">Female</ion-option>
          <ion-option value="m">Male</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </div>

  <ion-list>
    <ion-list-header>
      List Property
    </ion-list-header>
    <ion-item *ngFor="let prop of properties">
      <ion-checkbox (ionChange)="getCheckBox(prop.id, $event)"></ion-checkbox>
      <ion-label>{{prop.name}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <button block ion-button color="color1" (click)="doSignup()">Submit</button>
</ion-footer>
