<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only>
        <img src="{{profilePic}}" class="img-profile">
      </button>
    </ion-buttons>
    <ion-title>Visitor</ion-title>
    <ion-buttons right>
      <button ion-button icon-only><img alt="logo" height="40" src="assets/img/logoWhite.png" ></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-fab right bottom>
    <button icon-only ion-fab mini (click)="presentModal('AddVisitorPage')"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <div class="bgContainer">
    <label>&nbsp;</label>
    <div class="jobContainer">
      <ion-list>
        <ion-item *ngIf="isSecurity" style="margin-bottom: 10px;">
          <ion-input type="text" [(ngModel)]="search.name" placeholder="Search"></ion-input>
          <button item-right ion-button icon-only (click)="searchVisitor()"><ion-icon name="ios-search"></ion-icon></button>
        </ion-item>
        <ion-item-sliding *ngFor="let item of listVisitor">
          <span hidden>{{item.recordId}}</span>
          <ion-item no-lines>
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <img class="img-visitor" src="{{item.picture||'assets/img/people.png'}}">
                </ion-col>
                <ion-col col-8>
                  <ion-row>
                    <ion-col col-4>Name</ion-col>
                    <ion-col col-1>:</ion-col>
                    <ion-col col-7 style="white-space: normal">{{item.name}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-4>Date Visit</ion-col>
                    <ion-col col-1>:</ion-col>
                    <ion-col col-7 style="white-space: normal">{{item.date}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-4>Vehicle No</ion-col>
                    <ion-col col-1>:</ion-col>
                    <ion-col col-7 style="white-space: normal">{{item.vehicleNo}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-4>Phone No</ion-col>
                    <ion-col col-1>:</ion-col>
                    <ion-col col-7 style="white-space: normal">{{item.phoneNo}}</ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options>
            <button *ngIf="isSecurity == false" ion-button color="danger" (click)="updateStatus('3',item.recordId)"><ion-icon name="trash"></ion-icon>Cancel</button>
            <button *ngIf="isSecurity" ion-button color="secondary" (click)="updateStatus('2',item.recordId)"><ion-icon name="ios-checkmark-circle"></ion-icon>Check In</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <div class="noPostedJobs" *ngIf="noVisitor == true" padding >
        <p>No Visitor</p>
      </div>
    </div>
  </div>

</ion-content>
