page-visitor {

  .fab[mini] {
    margin: 8px;
    border-radius: 50%;
    border: 1px ;
    background-color: color($colors,color2);
    }

  .bgContainer{
    background-color: color($colors,color4);
    height: 100%;
  }

  .jobContainer{
    margin: 5px;

  }
}

.img-visitor{
  max-width: 28vw;
  max-height: 30vh;
}

.profileContainer{
  background-color: transparent;
  padding: 5px 8px;
}

.img-profile{
  border-radius: 50%;
  width: 30vw;
  height: 5vh;
}
.text-input-ios{
  padding:5px;
}

.list-ios{
  ion-item-sliding{
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 5px;
    background-color: color($colors,light);
  }
  > .item-wrapper:last-child .item-block{
    border-bottom: none;
  }
  .item-ios{
    margin-bottom: 0px;
    font-size: 1.1rem;
    .list-header-ios{
      color: color($colors,color2);
      font-weight: bolder;
    }
  }
}
